.button-red {
    @apply
    text-center
    px-4
    py-1
    border-2
    border-red
    border-opacity-0
    bg-gradient-to-tr
    from-darkred
    to-midred
    text-pale
    cursor-pointer
    rounded-md
    font-bold
    font-simp
    transition
    duration-200
    ease-out
    transform
    hover:scale-105
}

.button-underline {
    @apply
    font-bold
    font-simp
    text-lg
    hover:underline
    bg-pale
    bg-opacity-80
    shadow-xl
    px-2
    rounded-md
    my-2
}

.button-blue {
    @apply
    text-center
    px-4
    py-1
    bg-gradient-to-tr
    from-darkblue
    to-lightblue
    cursor-pointer
    text-pale
    rounded-md
    font-bold
    font-simp
    transition
    duration-200
    ease-out
    transform
    hover:scale-105
}

.button-pill {
    @apply
    text-center
    px-2
    bg-gradient-to-r
    from-darkred
    to-red
    text-pale
    rounded-full
    font-bold
    font-simp
}


.button-locked {
    @apply
    text-center
    m-auto
    px-2
    border-b-2
    border-dark
    text-dark
    font-bold
    font-simp
}

.button-add:hover {
    @apply
    text-center
    bg-gradient-to-r
    from-darkred
    to-red
    text-pale
}

.button-pale-outline {
    @apply
    text-center
    px-4
    py-1
    bg-transparent
    text-pale
    border-2
    border-pale
    rounded-md
    font-bold
    font-simp
    transition
    duration-200
    ease-in-out
    transform
    hover:scale-105
}

.button-menu {
    @apply
    flex-1
    p-4
    opacity-40
    text-center
    md:text-2xl
    text-lg
    transition
    duration-200
    ease-in-out
    transform
    hover:scale-105
    hover:opacity-100
    hover:text-lightpale
}


.button-blue {
    @apply
    px-2
    bg-darkblue
    text-pale
    rounded-md
    font-bold
    font-simp
}

.button-orange {
    @apply
    px-2
    bg-grayblue
    text-pale
    rounded-md
    font-bold
    font-simp
}


.button-product-amount {
    @apply
        px-2
    absolute
    right-1
    bg-red
    rounded-full
    text-xs
}