
.card-product {
    @apply
    bg-lightpale
    text-dark
    font-simp
    cursor-pointer
    shadow-md
    rounded-md
    border-2
    border-opacity-25
    border-darkblue
    md:m-auto
    transition
    duration-200
    ease-in-out
    transform
    hover:scale-101
    hover:border-darkblue
    hover:shadow-2xl
    hover:border-opacity-40
}

.card-image {
    max-height: 300px;
    @apply
    m-auto
}


.cart-card-product {
    @apply
    rounded
    bg-lightpale
    p-2
}