@import url('./patterns.css');
@import url('./buttons.css');
@import url('./messages.css');
@import url('./card.css');
@import url('./checkbox.css');
@import url('./textarea.css');

:root {
    --transparent: 'transparent';
    --choco: '#3a1d18';
    --red: '#c42034';
    --pale: '#dedbe6',;
    --palered: '#eb918a';
    --dark: '#2b2b2b';
    --middark: '#373737';
    --white: '#ffffff';
}

html,
body {
    background-color: #dedbe6;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.admin-sidebar {
    @apply
    bg-dark
    shadow-lg
    bg-gradient-to-t
    from-dark
    to-middark
    text-pale
    h-full
    w-full
    py-12
    relative
    z-50
}


a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.form-dark {
    @apply
    bg-dark
    p-4 md:p-10
    rounded-lg
}

input, select, textarea {
    color: #2b2b2b;
    @apply
    p-2
    w-full
    bg-white
    border
    text-dark
    rounded
    font-bold
}

input::placeholder {
    @apply
    text-dark
    font-bold
}

input:disabled::placeholder {
    @apply
    font-bold
    text-dark
    text-opacity-50
}

::-webkit-input-placeholder { /* Edge */
    @apply
    text-dark
}

:-ms-input-placeholder { /* Internet Explorer */
    @apply
    text-dark
}

::placeholder {
    @apply
    text-dark
}


.dropzone {
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.dropzone.dragover {
    border-color: #c42034;
    color: #c42034;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bg-black-gradient {
    @apply
    bg-dark
    shadow-lg
    bg-gradient-to-t
    from-dark
    to-middark
}

.bannerFondo {
    height: 400px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}